@tailwind base;

body {
  @apply bg-gradient-to-b from-[#CED5D2] to-[#A7B4B8];
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer components {
  .bg-library-gradient {
    background: linear-gradient(#f9c04acc, #f6a646cc),
      url("/assets/img/library.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
  }

  .bg-library {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/img/library-with-heroes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
  }
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
